#!/bin/sh
# vim: set filetype=sh:
# shellcheck disable=code
# ANSIBLE-MANAGED CONFIGURATION FILE

# show a message in a box, with the buttons in the box, below them
xmessage \
  -buttons "Reboot":20,"Shutdown":21 \
  "{{ system_virt_consoles_msg }}"

# handle the pressed-button return code
case "$?" in
 20) {{ system_restart_cmd }} ;;
 21) {{ system_shutdown_cmd }} ;;
esac

