#!/bin/sh
# vim: set filetype=sh:
# shellcheck disable=code
# ANSIBLE-MANAGED CONFIGURATION FILE

# NOTE: the "" required arg (unavoidably) prints an empty text box above buttons
xmessage -buttons "Reboot":20,"Shutdown":21 ""

case "$?" in
 20) {{ system_restart_cmd }} ;;
 21) {{ system_shutdown_cmd }} ;;
esac

