#!/bin/sh
# vim: set filetype=sh:
# shellcheck disable=code
# ANSIBLE-MANAGED CONFIGURATION FILE
# Purpose: start background utilities for xdm to use and display
# X11 Window Geometry:
#   +X for offset from left screen edge
#   -X for offset from right screen edge
#   +Y for offset from top screen edge
#   -Y for offset from bottom screen edge

# use xserver xsetroot utility to set main bg color
xsetroot \
  -solid "{{ main_bg_color }}"

# start the xclock app, to show the date and time
#   strftime: see format description in standard unix man page
#   digital: print time as text (i.e. not a wall clock graphic)
#   update: update the time every XXXX seconds
xclock \
  -geometry -5+5 \
  -strftime '%a %d %b %H:%M:%S' \
  -digital \
  -update 1 \
  &

# start the buttons xmessage app, to show reboot/poweroff buttons
{{ system_xdm_buttons_file_path }} \
  -geometry +0+0 \
  &

